body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000;

    background-image: url('https://raw.githubusercontent.com/DmitriyVirus/ClanWebSite/main/Background2.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; /* или 'contain', если хочешь сохранять пропорции */
}
